{% extends 'base.html' %}

{% block title %}
	{{title}}
{% endblock %}
	
{% block content %}
<div class="col-md-12">
	{%for order in orders %}
	<div class="card mb-3">
		<div class="card-header">
			<span>{{order.created_at|date:"Y-m-d H:i:s"}}</span>
		</div>
		<div class="card-body">
			<div>

					<h5 class="card-title">{{order.created_at|date:"Y-m-d H:i:s"}}</h5>
					<span class="card-text">Количество: {{order.quantity}}</span>
					<span class="card-text">Цена:{{order.price}}</span>
					<p class="card-text">{{order.tools}}</p>
					<a href="#" class="btn btn-primary">Read more...</a>

			</div>
		</div>
	</div>
	{%endfor%}
</div>
{% endblock %}