{% extends 'base.html' %}

{% block title %}
	{{title}}
{% endblock %}
	
{% block content %}
<div class="col-md-12">
	{%for order in orders %}
	<div class="card mb-3">
		<div class="card-header">
			<span>{{order.created_at|date:"Y-m-d H:i:s"}}</span>
		</div>
		<div class="card-body">
			<div>
				<div style="display : flex; flex-direction : row; align-content: start;">
						{% if order.tools.photo %}
						<img  src="{{order.tools.photo.url}}" style="width: 20%;" class="mr-3" alt="Card image cap" >
					{% endif %}
					<div>
						<p class="card-text">Поставщик: {{order.tools.provider}} | Дата: {{order.created_at|date:"Y-m-d"}} </p>
						<p class="card-text">{{order.tools.name}} </p>
						<p class="card-text">Цена: {{order.price}} | Количество:  {{order.quantity}}</p>
						<a href="#" class="btn btn-primary">Read more...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{%endfor%}
</div>
{% endblock %}