{% extends 'base.html' %}

{% block title %}
	{{title}}
{% endblock %}
	
{% block content %}
<div class="col-md-12">
	{%for tool in tools%}
	<div class="card mb-3">
		<div class="card-header">
			<span>{{tool.provider}}</span> | <span>{{tool.code}}</span> | <span>{{tool.brand}}</span>
		</div>
		<div class="card-body">
			<div class="media">
				{% if tool.photo %}
					<img  src="{{tool.photo.url}}" width="250" class="mr-3" alt="Card image cap">
				{% endif %}
				<div class="media-body">
					<h5 class="card-title">{{tool.name}}</h5>
					<p class="card-text">{{tool.desc|truncatewords:10}}</p>
					<a href="#" class="btn btn-primary">Read more...</a>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted">
			{{tool.created_at|date:"Y-m-d H:i:s"}}
		</div>
	</div>
	{%endfor%}
</div>
{% endblock %}




