<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap\css\bootstrap.min.css' %}" rel="stylesheet" >
    <title>{% block title %} {% endblock%}</title>
  </head>
  <body>
	{% include 'inc/_nav.html' %}

	  <div class="container mb-3">
		<div class="row">
			{% block content %} Content {%endblock%}

			<div class="col-md-12">
				{%for tool in tools%}
				<div class="card mb-3">
					
					<div class="card-header">
						<span>{{tool.provider}}</span> | <span>{{tool.code}}</span> | <span>{{tool.brand}}</span>
					</div>
					
					<div class="card-body">
						<div class="media">
							{% if tool.photo %}
								<img  src="{{tool.photo.url}}" width="250" class="mr-3" alt="Card image cap">
							{% endif %}
							<div class="media-body">
								<h5 class="card-title">{{tool.name}}</h5>
								<p class="card-text">{{tool.desc|truncatewords:10}}</p>
								<a href="#" class="btn btn-primary">Read more...</a>
							</div>
						</div>
					</div>
					<div class="card-footer text-muted">
						{{tool.created_at|date:"Y-m-d H:i:s"}}
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	  </div>

    <script src="{% static 'bootstrap\css\bootstrap.min.css' %}" ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>





